* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: roboto-regular;
  src: url(../font/Roboto-Regular.ttf);
}
@font-face {
  font-family: roboto-bold;
  src: url(../font/Roboto-Bold.ttf);
}
@font-face {
  font-family: shrikhand;
  src: url(../font/Shrikhand-Regular.ttf);
}
@keyframes open {
  0% {
    opacity: 100%;
    transform: translateX(0px);
  }
  70% {
    opacity: 100%;
    transform: translateX(0px);
  }
  80% {
    transform: translateX(0px);
    opacity: 0%;
  }
  to {
    transform: translate(-1000%);
    opacity: 0%;
  }
}
@keyframes loadingbar {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes degrade {
  0% {
    opacity: 0;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px black;
  }
  100% {
    opacity: 100%;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px black;
  }
}
@keyframes degrade {
  0% {
    opacity: 0;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px black;
  }
  100% {
    opacity: 100%;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px black;
  }
}
@keyframes fadein {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.acc_body {
  max-width: 738px;
  margin: auto;
  font-family: roboto-regular;
}
.acc_body .open {
  animation: open 3s forwards;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.acc_body .open img {
  width: 70%;
}
.acc_body .open .loadbar {
  margin-top: 20px;
  animation: loadingbar 3s;
  width: 70%;
  height: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
}
.acc_body .header_acc .nav_acc {
  width: 100%;
}
.acc_body .header_acc .nav_acc a {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.acc_body .header_acc .nav_acc a img {
  width: 50%;
  margin: auto;
}
.acc_body .header_acc .nav_acc .adress {
  display: flex;
  justify-content: center;
  align-items: center;
}
.acc_body .header_acc .nav_acc .adress i {
  font-size: 18px;
  width: 30%;
  text-align: right;
  padding: 2%;
}
.acc_body .header_acc .nav_acc .adress input {
  background-color: hsla(0deg, 0%, 83%, 0);
  border-style: none;
  font-size: 18px;
  padding: 2%;
}
.acc_body main .banniere {
  padding: 50px 0 60px 0;
  text-align: center;
  background-color: hsla(0deg, 0%, 83%, 0.1);
  height: 300px;
}
.acc_body main .banniere h1 {
  margin: 0 auto 20px auto;
  width: 80%;
  font-family: roboto-bold;
  font-size: 30px;
}
.acc_body main .banniere p {
  margin: 0 auto 60px auto;
  width: 90%;
  font-size: 20px;
}
.acc_body main .banniere a {
  width: 70%;
  padding: 5%;
  font-size: 18px;
  color: white;
  border-radius: 30px;
  border-style: none;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 2px 2px 2px 2px hsla(0deg, 0%, 83%, 0.5);
}
.acc_body main .banniere a:hover {
  opacity: 0.8;
  box-shadow: 2px 2px 2px 2px hsl(0deg, 0%, 83%);
}
.acc_body main .block {
  padding: 40px 4%;
}
.acc_body main .block h2 {
  font-size: 28px;
  font-family: roboto-bold;
  padding: 30px 0;
}
.acc_body main .block .list {
  margin: 20px 0;
  display: flex;
  flex-wrap: nowrap;
  height: 80px;
  position: relative;
}
.acc_body main .block .list h6 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: roboto-bold;
  font-size: 20px;
  width: 35px;
  height: 35px;
  background-color: #9356DC;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.acc_body main .block .list .listdetail {
  margin: 0 0 0 5%;
  display: flex;
  flex-wrap: nowrap;
  width: 92%;
  background-color: hsla(0deg, 0%, 83%, 0.1);
  border-radius: 30px;
  box-shadow: 1px 1px 1px 1px hsla(0deg, 0%, 83%, 0.2);
}
.acc_body main .block .list .listdetail i {
  width: 20%;
  font-size: 26px;
  margin: auto;
  padding-right: 10%;
  padding-left: 10%;
}
.acc_body main .block .list .listdetail p {
  color: black;
  text-align: left;
  width: 80%;
  margin: auto 0 auto 10px;
  font-family: roboto-bold;
  font-size: 18px;
}
.acc_body main .block .list .listdetail:hover {
  background-color: hsla(267deg, 66%, 60%, 0.2);
  color: #9356DC;
}
.acc_body main .block .restocard a {
  border-radius: 30px;
}
.acc_body main .block .restocard .resto {
  margin: 20px 0;
  width: 100%;
  height: 280px;
  background-color: hsla(0deg, 0%, 83%, 0.1);
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px hsla(0deg, 0%, 83%, 0.4);
  position: relative;
}
.acc_body main .block .restocard .resto img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 200px;
}
.acc_body main .block .restocard .resto h5 {
  font-weight: normal;
  color: black;
  padding: 5px 10px;
  position: absolute;
  right: 5%;
  top: 5%;
  background-color: #99E2D0;
  font-size: 20px;
  font-family: roboto-regular;
}
.acc_body main .block .restocard .resto .restotxt {
  margin: 5px 10px;
  position: relative;
}
.acc_body main .block .restocard .resto .restotxt h4 {
  font-size: 22px;
  color: black;
}
.acc_body main .block .restocard .resto .restotxt p {
  font-size: 22px;
  color: black;
}
.acc_body main .block .restocard .resto .restotxt .restocheck {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.acc_body main .block .restocard .resto .restotxt .restocheck input {
  display: none;
  position: relative;
}
.acc_body main .block .restocard .resto .restotxt .restocheck input:checked + .check i {
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px black;
  animation: degrade 2s forwards;
}
.acc_body main .block .restocard .resto .restotxt .restocheck .check {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  position: relative;
}
.acc_body main .block .restocard .resto .restotxt .restocheck .check i {
  font-size: 26px;
  -webkit-text-stroke: 1px black;
  background-color: white;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.acc_body footer {
  background-color: hsla(0deg, 0%, 0%, 0.7);
  margin-top: 30px;
  padding: 40px 4%;
}
.acc_body footer img {
  width: 40%;
}
.acc_body footer .footmenu {
  padding: 20px 0px;
  line-height: 30px;
}
.acc_body footer .footmenu a {
  font-size: 20px;
  color: white;
}
.acc_body footer .footmenu .foottxt {
  display: flex;
  justify-content: left;
  align-items: center;
}
.acc_body footer .footmenu .foottxt i {
  width: 30px;
  font-size: 20px;
  color: white;
}
.acc_body footer .footmenu .foottxt a {
  font-size: 20px;
  color: white;
}

@media only screen and (min-width: 738px) {
  .acc_body {
    max-width: 1000px;
  }
  .acc_body .open {
    width: 100%;
  }
  .acc_body .open img {
    width: 40%;
  }
  .acc_body .header_acc .nav_acc a img {
    width: 30%;
  }
  .acc_body .header_acc .nav_acc .adress {
    margin-left: -20%;
  }
  .acc_body main .banniere a {
    width: 70%;
    padding: 2% 5%;
    font-size: 18px;
  }
  .acc_body main .block .list h6 {
    left: 2.5%;
  }
  .acc_body main .block .restocard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .acc_body main .block .restocard a {
    width: 45%;
  }
  .acc_body footer img {
    width: 25%;
  }
}
@media only screen and (min-width: 1000px) {
  .acc_body {
    padding: 0 10px;
    max-width: 1400px;
  }
  .acc_body .open {
    width: 1400px;
  }
  .acc_body .open img {
    width: 20%;
  }
  .acc_body .header_acc .nav_acc {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .acc_body .header_acc .nav_acc a {
    justify-content: flex-start;
  }
  .acc_body .header_acc .nav_acc a img {
    width: 50%;
    margin: 0px;
  }
  .acc_body main .banniere a {
    padding: 2% 5%;
  }
  .acc_body main .block {
    padding: 40px 0px;
  }
  .acc_body main .block .blockfonction {
    display: flex;
    justify-content: space-between;
  }
  .acc_body main .block .list {
    width: 30%;
  }
  .acc_body main .block .list h6 {
    left: 1.5%;
  }
  .acc_body main .block .restocard .resto img {
    object-fit: cover;
  }
  .acc_body footer img {
    width: 20%;
  }
}
.menu_body {
  max-width: 738px;
  margin: auto;
  font-family: roboto-regular;
}
.menu_body .menu_head .menu_nav a {
  padding: 3% 0;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.menu_body .menu_head .menu_nav a i {
  position: absolute;
  left: 5%;
  width: 10%;
  font-size: 24px;
  color: black;
}
.menu_body .menu_head .menu_nav a img {
  box-shadow: 1px 1px 1px 1px hsla(0deg, 0%, 83%, 0.2);
  display: flex;
  justify-content: center;
  width: 50%;
}
.menu_body .menu_head .menu_nav .acceuil {
  display: none;
}
.menu_body main .banniere_menu {
  height: 240px;
}
.menu_body main .banniere_menu img {
  height: 100%;
  overflow: hidden;
  max-width: 100%;
}
.menu_body main .banniere_menu .blanc {
  background-color: white;
  height: 40px;
  position: relative;
  transform: translate(0, -35px);
  border-radius: 50px 50px 0 0;
}
.menu_body main .menutitre {
  padding: 3% 4%;
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.menu_body main .menutitre h1 {
  font-family: shrikhand;
  font-size: 26px;
}
.menu_body main .menutitre .menutitrecheck {
  padding: 0 6% 0 0;
}
.menu_body main .menutitre .menutitrecheck input {
  display: none;
}
.menu_body main .menutitre .menutitrecheck input:checked + i {
  animation: degrade 2s forwards;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px black;
}
.menu_body main .menutitre .menutitrecheck i {
  background-color: white;
  -webkit-text-stroke: 1px black;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 7%;
  font-size: 26px;
}
.menu_body main .menu {
  padding: 5% 4%;
}
.menu_body main .menu h2 {
  padding-top: 5%;
  font-size: 20px;
}
.menu_body main .menu .vert {
  margin-top: 2%;
  background-color: #99E2D0;
  height: 5px;
  width: 50px;
}
.menu_body main .menu .menucheck {
  animation: fadein 1s both;
  display: flex;
  margin: auto;
  height: 80px;
  margin: 5% 0 5% 0;
  padding: 0 0 0 3%;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px hsla(0deg, 0%, 83%, 0.5);
  overflow: hidden;
}
.menu_body main .menu .menucheck:nth-child(1) {
  animation-delay: 100ms;
}
.menu_body main .menu .menucheck:nth-child(2) {
  animation-delay: 200ms;
}
.menu_body main .menu .menucheck:nth-child(3) {
  animation-delay: 300ms;
}
.menu_body main .menu .menucheck:nth-child(4) {
  animation-delay: 400ms;
}
.menu_body main .menu .menucheck:nth-child(5) {
  animation-delay: 500ms;
}
.menu_body main .menu .menucheck:nth-child(6) {
  animation-delay: 600ms;
}
.menu_body main .menu .menucheck:nth-child(7) {
  animation-delay: 700ms;
}
.menu_body main .menu .menucheck:nth-child(8) {
  animation-delay: 800ms;
}
.menu_body main .menu .menucheck:nth-child(9) {
  animation-delay: 900ms;
}
.menu_body main .menu .menucheck:nth-child(10) {
  animation-delay: 1000ms;
}
.menu_body main .menu .menucheck:nth-child(11) {
  animation-delay: 1100ms;
}
.menu_body main .menu .menucheck:nth-child(12) {
  animation-delay: 1200ms;
}
.menu_body main .menu .menucheck:nth-child(13) {
  animation-delay: 1300ms;
}
.menu_body main .menu .menucheck:nth-child(14) {
  animation-delay: 1400ms;
}
.menu_body main .menu .menucheck:nth-child(15) {
  animation-delay: 1500ms;
}
.menu_body main .menu .menucheck:nth-child(16) {
  animation-delay: 1600ms;
}
.menu_body main .menu .menucheck:nth-child(17) {
  animation-delay: 1700ms;
}
.menu_body main .menu .menucheck:nth-child(18) {
  animation-delay: 1800ms;
}
.menu_body main .menu .menucheck:nth-child(19) {
  animation-delay: 1900ms;
}
.menu_body main .menu .menucheck:nth-child(20) {
  animation-delay: 2000ms;
}
.menu_body main .menu .menucheck:nth-child(21) {
  animation-delay: 2100ms;
}
.menu_body main .menu .menucheck:nth-child(22) {
  animation-delay: 2200ms;
}
.menu_body main .menu .menucheck:nth-child(23) {
  animation-delay: 2300ms;
}
.menu_body main .menu .menucheck:nth-child(24) {
  animation-delay: 2400ms;
}
.menu_body main .menu .menucheck:nth-child(25) {
  animation-delay: 2500ms;
}
.menu_body main .menu .menucheck:nth-child(26) {
  animation-delay: 2600ms;
}
.menu_body main .menu .menucheck:nth-child(27) {
  animation-delay: 2700ms;
}
.menu_body main .menu .menucheck:nth-child(28) {
  animation-delay: 2800ms;
}
.menu_body main .menu .menucheck:nth-child(29) {
  animation-delay: 2900ms;
}
.menu_body main .menu .menucheck:nth-child(30) {
  animation-delay: 3000ms;
}
.menu_body main .menu .menucheck:nth-child(31) {
  animation-delay: 3100ms;
}
.menu_body main .menu .menucheck:nth-child(32) {
  animation-delay: 3200ms;
}
.menu_body main .menu .menucheck:nth-child(33) {
  animation-delay: 3300ms;
}
.menu_body main .menu .menucheck:nth-child(34) {
  animation-delay: 3400ms;
}
.menu_body main .menu .menucheck:nth-child(35) {
  animation-delay: 3500ms;
}
.menu_body main .menu .menucheck:nth-child(36) {
  animation-delay: 3600ms;
}
.menu_body main .menu .menucheck:nth-child(37) {
  animation-delay: 3700ms;
}
.menu_body main .menu .menucheck:nth-child(38) {
  animation-delay: 3800ms;
}
.menu_body main .menu .menucheck:nth-child(39) {
  animation-delay: 3900ms;
}
.menu_body main .menu .menucheck:nth-child(40) {
  animation-delay: 4000ms;
}
.menu_body main .menu .menucheck:nth-child(41) {
  animation-delay: 4100ms;
}
.menu_body main .menu .menucheck:nth-child(42) {
  animation-delay: 4200ms;
}
.menu_body main .menu .menucheck:nth-child(43) {
  animation-delay: 4300ms;
}
.menu_body main .menu .menucheck:nth-child(44) {
  animation-delay: 4400ms;
}
.menu_body main .menu .menucheck:nth-child(45) {
  animation-delay: 4500ms;
}
.menu_body main .menu .menucheck:nth-child(46) {
  animation-delay: 4600ms;
}
.menu_body main .menu .menucheck:nth-child(47) {
  animation-delay: 4700ms;
}
.menu_body main .menu .menucheck:nth-child(48) {
  animation-delay: 4800ms;
}
.menu_body main .menu .menucheck:nth-child(49) {
  animation-delay: 4900ms;
}
.menu_body main .menu .menucheck:nth-child(50) {
  animation-delay: 5000ms;
}
.menu_body main .menu .menucheck:nth-child(51) {
  animation-delay: 5100ms;
}
.menu_body main .menu .menucheck:nth-child(52) {
  animation-delay: 5200ms;
}
.menu_body main .menu .menucheck:nth-child(53) {
  animation-delay: 5300ms;
}
.menu_body main .menu .menucheck:nth-child(54) {
  animation-delay: 5400ms;
}
.menu_body main .menu .menucheck:nth-child(55) {
  animation-delay: 5500ms;
}
.menu_body main .menu .menucheck:nth-child(56) {
  animation-delay: 5600ms;
}
.menu_body main .menu .menucheck:nth-child(57) {
  animation-delay: 5700ms;
}
.menu_body main .menu .menucheck:nth-child(58) {
  animation-delay: 5800ms;
}
.menu_body main .menu .menucheck:nth-child(59) {
  animation-delay: 5900ms;
}
.menu_body main .menu .menucheck:nth-child(60) {
  animation-delay: 6000ms;
}
.menu_body main .menu .menucheck:nth-child(61) {
  animation-delay: 6100ms;
}
.menu_body main .menu .menucheck:nth-child(62) {
  animation-delay: 6200ms;
}
.menu_body main .menu .menucheck:nth-child(63) {
  animation-delay: 6300ms;
}
.menu_body main .menu .menucheck:nth-child(64) {
  animation-delay: 6400ms;
}
.menu_body main .menu .menucheck:nth-child(65) {
  animation-delay: 6500ms;
}
.menu_body main .menu .menucheck:nth-child(66) {
  animation-delay: 6600ms;
}
.menu_body main .menu .menucheck:nth-child(67) {
  animation-delay: 6700ms;
}
.menu_body main .menu .menucheck:nth-child(68) {
  animation-delay: 6800ms;
}
.menu_body main .menu .menucheck:nth-child(69) {
  animation-delay: 6900ms;
}
.menu_body main .menu .menucheck:nth-child(70) {
  animation-delay: 7000ms;
}
.menu_body main .menu .menucheck:nth-child(71) {
  animation-delay: 7100ms;
}
.menu_body main .menu .menucheck:nth-child(72) {
  animation-delay: 7200ms;
}
.menu_body main .menu .menucheck:nth-child(73) {
  animation-delay: 7300ms;
}
.menu_body main .menu .menucheck:nth-child(74) {
  animation-delay: 7400ms;
}
.menu_body main .menu .menucheck:nth-child(75) {
  animation-delay: 7500ms;
}
.menu_body main .menu .menucheck:nth-child(76) {
  animation-delay: 7600ms;
}
.menu_body main .menu .menucheck:nth-child(77) {
  animation-delay: 7700ms;
}
.menu_body main .menu .menucheck:nth-child(78) {
  animation-delay: 7800ms;
}
.menu_body main .menu .menucheck:nth-child(79) {
  animation-delay: 7900ms;
}
.menu_body main .menu .menucheck:nth-child(80) {
  animation-delay: 8000ms;
}
.menu_body main .menu .menucheck:nth-child(81) {
  animation-delay: 8100ms;
}
.menu_body main .menu .menucheck:nth-child(82) {
  animation-delay: 8200ms;
}
.menu_body main .menu .menucheck:nth-child(83) {
  animation-delay: 8300ms;
}
.menu_body main .menu .menucheck:nth-child(84) {
  animation-delay: 8400ms;
}
.menu_body main .menu .menucheck:nth-child(85) {
  animation-delay: 8500ms;
}
.menu_body main .menu .menucheck:nth-child(86) {
  animation-delay: 8600ms;
}
.menu_body main .menu .menucheck:nth-child(87) {
  animation-delay: 8700ms;
}
.menu_body main .menu .menucheck:nth-child(88) {
  animation-delay: 8800ms;
}
.menu_body main .menu .menucheck:nth-child(89) {
  animation-delay: 8900ms;
}
.menu_body main .menu .menucheck:nth-child(90) {
  animation-delay: 9000ms;
}
.menu_body main .menu .menucheck:nth-child(91) {
  animation-delay: 9100ms;
}
.menu_body main .menu .menucheck:nth-child(92) {
  animation-delay: 9200ms;
}
.menu_body main .menu .menucheck:nth-child(93) {
  animation-delay: 9300ms;
}
.menu_body main .menu .menucheck:nth-child(94) {
  animation-delay: 9400ms;
}
.menu_body main .menu .menucheck:nth-child(95) {
  animation-delay: 9500ms;
}
.menu_body main .menu .menucheck:nth-child(96) {
  animation-delay: 9600ms;
}
.menu_body main .menu .menucheck:nth-child(97) {
  animation-delay: 9700ms;
}
.menu_body main .menu .menucheck:nth-child(98) {
  animation-delay: 9800ms;
}
.menu_body main .menu .menucheck:nth-child(99) {
  animation-delay: 9900ms;
}
.menu_body main .menu .menucheck:nth-child(100) {
  animation-delay: 10000ms;
}
.menu_body main .menu .menucheck .menutxt {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu_body main .menu .menucheck .menutxt h3 {
  font-size: 20px;
  font-family: roboto-bold;
}
.menu_body main .menu .menucheck .menutxt .menudetail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 6% 0 0;
}
.menu_body main .menu .menucheck .menutxt .menudetail h4 {
  margin: auto 0;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu_body main .menu .menucheck .menutxt .menudetail h5 {
  margin-left: 6%;
  font-size: 20px;
  font-family: roboto-bold;
}
.menu_body main .menu .menucheck input {
  display: none;
}
.menu_body main .menu .menucheck input:checked + .circle {
  width: 20%;
  transition: transform 750ms ease-in-out, width 750ms ease-in-out;
  transform: translateX(0);
}
.menu_body main .menu .menucheck input:checked + .circle i {
  transition: transform 750ms ease-in-out, color 750ms ease-in-out;
  transform: rotate(0deg);
  color: white;
}
.menu_body main .menu .menucheck .circle {
  width: 0;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
}
.menu_body main .menu .menucheck i {
  transform: rotate(360deg);
  color: transparent;
  font-size: 30px;
  padding: 3%;
}
.menu_body main .button {
  margin: 5% auto;
  width: 100%;
  display: flex;
}
.menu_body main .button button {
  margin: auto;
  width: 60%;
  height: 60px;
  font-size: 20px;
  color: white;
  border-radius: 30px;
  border-style: none;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 2px 2px 2px 2px hsla(0deg, 0%, 83%, 0.5);
}
.menu_body main .button button:hover {
  opacity: 0.8;
  box-shadow: 2px 2px 2px 2px hsl(0deg, 0%, 83%);
}
.menu_body footer {
  background-color: hsla(0deg, 0%, 0%, 0.7);
  margin-top: 30px;
  padding: 40px 4%;
}
.menu_body footer img {
  width: 40%;
}
.menu_body footer .footmenu {
  padding: 20px 0px;
  line-height: 30px;
}
.menu_body footer .footmenu a {
  font-size: 20px;
  color: white;
}
.menu_body footer .footmenu .foottxt {
  display: flex;
  justify-content: left;
  align-items: center;
}
.menu_body footer .footmenu .foottxt i {
  width: 30px;
  font-size: 20px;
  color: white;
}
.menu_body footer .footmenu .foottxt a {
  font-size: 20px;
  color: white;
}

@media only screen and (min-width: 738px) {
  .menu_body {
    min-width: 738px;
  }
  .menu_body .menu_head .menu_nav {
    display: flex;
    justify-content: space-between;
  }
  .menu_body .menu_head .menu_nav a {
    padding: 3% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu_body .menu_head .menu_nav a i {
    display: none;
  }
  .menu_body .menu_head .menu_nav a img {
    justify-content: flex-start;
    width: 40%;
    box-shadow: 1px 1px 1px 1px hsla(0deg, 0%, 83%, 0);
  }
  .menu_body .menu_head .menu_nav .acceuil {
    display: flex;
    color: black;
  }
  .menu_body .menu_head .menu_nav .acceuil:hover {
    color: #99E2D0;
  }
  .menu_body main .banniere_menu {
    height: 400px;
  }
  .menu_body main .banniere_menu img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 500%;
  }
  .menu_body main .button {
    margin: 1% auto;
  }
  .menu_body main .button button {
    width: 40%;
  }
  .menu_body footer img {
    width: 20%;
  }
}
@media only screen and (min-width: 1000px) {
  .menu_body {
    background-color: hsla(0deg, 0%, 83%, 0.2);
    max-width: 1400px;
  }
  .menu_body .menu_head .menu_nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .menu_body .menu_head .menu_nav a {
    justify-content: flex-start;
  }
  .menu_body .menu_head .menu_nav a img {
    width: 50%;
    margin: 0px;
  }
  .menu_body main {
    max-width: 738px;
    margin: auto;
    background-color: white;
  }
}

/*# sourceMappingURL=index.css.map */
