* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* font */
@font-face {
  font-family: roboto-regular;
  src: url(../font/Roboto-Regular.ttf);
}
@font-face {
  font-family: roboto-bold;
  src: url(../font/Roboto-Bold.ttf);
}
@font-face {
  font-family: shrikhand;
  src: url(../font/Shrikhand-Regular.ttf);
}
@keyframes open {
  0% {
    opacity: 100%;
    transform: translateX(0px);
  }
  70% {
    opacity: 100%;
    transform: translateX(0px);
  }
  80% {
    transform: translateX(0px);
    opacity: 0%;
  }
  to {
    transform: translate(-1000%);
    opacity: 0%;
  }
}
@keyframes loadingbar {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes degrade {
  0% {
    opacity: 0;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px black;
  }
  100% {
    opacity: 100%;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px black;
  }
}
@keyframes degrade {
  0% {
    opacity: 0;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px black;
  }
  100% {
    opacity: 100%;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px black;
  }
}
@keyframes fadein {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  max-width: 738px;
  margin: auto;
  font-family: roboto-regular;
}
body header nav a {
  padding: 3% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header nav a i {
  position: absolute;
  transform: translateX(-400%);
  width: 10%;
  font-size: 24px;
  color: black;
}
body header nav a img {
  box-shadow: 1px 1px 1px 1px hsla(0deg, 0%, 83%, 0.2);
  display: flex;
  justify-content: center;
  width: 50%;
}
body main .banniere {
  height: 240px;
}
body main .banniere img {
  height: 100%;
  overflow: hidden;
  max-width: 100%;
}
body main .banniere .blanc {
  background-color: white;
  height: 40px;
  position: relative;
  transform: translate(0, -35px);
  border-radius: 50px 50px 0 0;
}
body main .menutitre {
  padding: 3% 4%;
  display: flex;
  justify-content: space-between;
  height: 80px;
}
body main .menutitre h1 {
  font-family: shrikhand;
  font-size: 26px;
}
body main .menutitre .menutitrecheck {
  padding: 0 6% 0 0;
}
body main .menutitre .menutitrecheck input {
  display: none;
}
body main .menutitre .menutitrecheck input:checked + i {
  animation: degrade 2s forwards;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px black;
}
body main .menutitre .menutitrecheck i {
  background-color: white;
  -webkit-text-stroke: 1px black;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 7%;
  font-size: 26px;
}
body main .menu {
  padding: 5% 4%;
}
body main .menu h2 {
  padding-top: 5%;
  font-size: 20px;
}
body main .menu .vert {
  margin-top: 2%;
  background-color: #99E2D0;
  height: 5px;
  width: 50px;
}
body main .menu .menucheck {
  animation: fadein 1s both;
  display: flex;
  margin: auto;
  height: 80px;
  margin: 5% 0 5% 0;
  padding: 0 0 0 3%;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px hsla(0deg, 0%, 83%, 0.5);
  overflow: hidden;
}
body main .menu .menucheck:nth-child(1) {
  animation-delay: 100ms;
}
body main .menu .menucheck:nth-child(2) {
  animation-delay: 200ms;
}
body main .menu .menucheck:nth-child(3) {
  animation-delay: 300ms;
}
body main .menu .menucheck:nth-child(4) {
  animation-delay: 400ms;
}
body main .menu .menucheck:nth-child(5) {
  animation-delay: 500ms;
}
body main .menu .menucheck:nth-child(6) {
  animation-delay: 600ms;
}
body main .menu .menucheck:nth-child(7) {
  animation-delay: 700ms;
}
body main .menu .menucheck:nth-child(8) {
  animation-delay: 800ms;
}
body main .menu .menucheck:nth-child(9) {
  animation-delay: 900ms;
}
body main .menu .menucheck:nth-child(10) {
  animation-delay: 1000ms;
}
body main .menu .menucheck:nth-child(11) {
  animation-delay: 1100ms;
}
body main .menu .menucheck:nth-child(12) {
  animation-delay: 1200ms;
}
body main .menu .menucheck:nth-child(13) {
  animation-delay: 1300ms;
}
body main .menu .menucheck:nth-child(14) {
  animation-delay: 1400ms;
}
body main .menu .menucheck:nth-child(15) {
  animation-delay: 1500ms;
}
body main .menu .menucheck:nth-child(16) {
  animation-delay: 1600ms;
}
body main .menu .menucheck:nth-child(17) {
  animation-delay: 1700ms;
}
body main .menu .menucheck:nth-child(18) {
  animation-delay: 1800ms;
}
body main .menu .menucheck:nth-child(19) {
  animation-delay: 1900ms;
}
body main .menu .menucheck:nth-child(20) {
  animation-delay: 2000ms;
}
body main .menu .menucheck:nth-child(21) {
  animation-delay: 2100ms;
}
body main .menu .menucheck:nth-child(22) {
  animation-delay: 2200ms;
}
body main .menu .menucheck:nth-child(23) {
  animation-delay: 2300ms;
}
body main .menu .menucheck:nth-child(24) {
  animation-delay: 2400ms;
}
body main .menu .menucheck:nth-child(25) {
  animation-delay: 2500ms;
}
body main .menu .menucheck:nth-child(26) {
  animation-delay: 2600ms;
}
body main .menu .menucheck:nth-child(27) {
  animation-delay: 2700ms;
}
body main .menu .menucheck:nth-child(28) {
  animation-delay: 2800ms;
}
body main .menu .menucheck:nth-child(29) {
  animation-delay: 2900ms;
}
body main .menu .menucheck:nth-child(30) {
  animation-delay: 3000ms;
}
body main .menu .menucheck:nth-child(31) {
  animation-delay: 3100ms;
}
body main .menu .menucheck:nth-child(32) {
  animation-delay: 3200ms;
}
body main .menu .menucheck:nth-child(33) {
  animation-delay: 3300ms;
}
body main .menu .menucheck:nth-child(34) {
  animation-delay: 3400ms;
}
body main .menu .menucheck:nth-child(35) {
  animation-delay: 3500ms;
}
body main .menu .menucheck:nth-child(36) {
  animation-delay: 3600ms;
}
body main .menu .menucheck:nth-child(37) {
  animation-delay: 3700ms;
}
body main .menu .menucheck:nth-child(38) {
  animation-delay: 3800ms;
}
body main .menu .menucheck:nth-child(39) {
  animation-delay: 3900ms;
}
body main .menu .menucheck:nth-child(40) {
  animation-delay: 4000ms;
}
body main .menu .menucheck:nth-child(41) {
  animation-delay: 4100ms;
}
body main .menu .menucheck:nth-child(42) {
  animation-delay: 4200ms;
}
body main .menu .menucheck:nth-child(43) {
  animation-delay: 4300ms;
}
body main .menu .menucheck:nth-child(44) {
  animation-delay: 4400ms;
}
body main .menu .menucheck:nth-child(45) {
  animation-delay: 4500ms;
}
body main .menu .menucheck:nth-child(46) {
  animation-delay: 4600ms;
}
body main .menu .menucheck:nth-child(47) {
  animation-delay: 4700ms;
}
body main .menu .menucheck:nth-child(48) {
  animation-delay: 4800ms;
}
body main .menu .menucheck:nth-child(49) {
  animation-delay: 4900ms;
}
body main .menu .menucheck:nth-child(50) {
  animation-delay: 5000ms;
}
body main .menu .menucheck:nth-child(51) {
  animation-delay: 5100ms;
}
body main .menu .menucheck:nth-child(52) {
  animation-delay: 5200ms;
}
body main .menu .menucheck:nth-child(53) {
  animation-delay: 5300ms;
}
body main .menu .menucheck:nth-child(54) {
  animation-delay: 5400ms;
}
body main .menu .menucheck:nth-child(55) {
  animation-delay: 5500ms;
}
body main .menu .menucheck:nth-child(56) {
  animation-delay: 5600ms;
}
body main .menu .menucheck:nth-child(57) {
  animation-delay: 5700ms;
}
body main .menu .menucheck:nth-child(58) {
  animation-delay: 5800ms;
}
body main .menu .menucheck:nth-child(59) {
  animation-delay: 5900ms;
}
body main .menu .menucheck:nth-child(60) {
  animation-delay: 6000ms;
}
body main .menu .menucheck:nth-child(61) {
  animation-delay: 6100ms;
}
body main .menu .menucheck:nth-child(62) {
  animation-delay: 6200ms;
}
body main .menu .menucheck:nth-child(63) {
  animation-delay: 6300ms;
}
body main .menu .menucheck:nth-child(64) {
  animation-delay: 6400ms;
}
body main .menu .menucheck:nth-child(65) {
  animation-delay: 6500ms;
}
body main .menu .menucheck:nth-child(66) {
  animation-delay: 6600ms;
}
body main .menu .menucheck:nth-child(67) {
  animation-delay: 6700ms;
}
body main .menu .menucheck:nth-child(68) {
  animation-delay: 6800ms;
}
body main .menu .menucheck:nth-child(69) {
  animation-delay: 6900ms;
}
body main .menu .menucheck:nth-child(70) {
  animation-delay: 7000ms;
}
body main .menu .menucheck:nth-child(71) {
  animation-delay: 7100ms;
}
body main .menu .menucheck:nth-child(72) {
  animation-delay: 7200ms;
}
body main .menu .menucheck:nth-child(73) {
  animation-delay: 7300ms;
}
body main .menu .menucheck:nth-child(74) {
  animation-delay: 7400ms;
}
body main .menu .menucheck:nth-child(75) {
  animation-delay: 7500ms;
}
body main .menu .menucheck:nth-child(76) {
  animation-delay: 7600ms;
}
body main .menu .menucheck:nth-child(77) {
  animation-delay: 7700ms;
}
body main .menu .menucheck:nth-child(78) {
  animation-delay: 7800ms;
}
body main .menu .menucheck:nth-child(79) {
  animation-delay: 7900ms;
}
body main .menu .menucheck:nth-child(80) {
  animation-delay: 8000ms;
}
body main .menu .menucheck:nth-child(81) {
  animation-delay: 8100ms;
}
body main .menu .menucheck:nth-child(82) {
  animation-delay: 8200ms;
}
body main .menu .menucheck:nth-child(83) {
  animation-delay: 8300ms;
}
body main .menu .menucheck:nth-child(84) {
  animation-delay: 8400ms;
}
body main .menu .menucheck:nth-child(85) {
  animation-delay: 8500ms;
}
body main .menu .menucheck:nth-child(86) {
  animation-delay: 8600ms;
}
body main .menu .menucheck:nth-child(87) {
  animation-delay: 8700ms;
}
body main .menu .menucheck:nth-child(88) {
  animation-delay: 8800ms;
}
body main .menu .menucheck:nth-child(89) {
  animation-delay: 8900ms;
}
body main .menu .menucheck:nth-child(90) {
  animation-delay: 9000ms;
}
body main .menu .menucheck:nth-child(91) {
  animation-delay: 9100ms;
}
body main .menu .menucheck:nth-child(92) {
  animation-delay: 9200ms;
}
body main .menu .menucheck:nth-child(93) {
  animation-delay: 9300ms;
}
body main .menu .menucheck:nth-child(94) {
  animation-delay: 9400ms;
}
body main .menu .menucheck:nth-child(95) {
  animation-delay: 9500ms;
}
body main .menu .menucheck:nth-child(96) {
  animation-delay: 9600ms;
}
body main .menu .menucheck:nth-child(97) {
  animation-delay: 9700ms;
}
body main .menu .menucheck:nth-child(98) {
  animation-delay: 9800ms;
}
body main .menu .menucheck:nth-child(99) {
  animation-delay: 9900ms;
}
body main .menu .menucheck:nth-child(100) {
  animation-delay: 10000ms;
}
body main .menu .menucheck .menutxt {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .menu .menucheck .menutxt h3 {
  font-size: 20px;
  font-family: roboto-bold;
}
body main .menu .menucheck .menutxt .menudetail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 6% 0 0;
}
body main .menu .menucheck .menutxt .menudetail h4 {
  margin: auto 0;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body main .menu .menucheck .menutxt .menudetail h5 {
  margin-left: 6%;
  font-size: 20px;
  font-family: roboto-bold;
}
body main .menu .menucheck input {
  display: none;
}
body main .menu .menucheck input:checked + .circle {
  width: 20%;
  transition: transform 750ms ease-in-out, width 750ms ease-in-out;
  transform: translateX(0);
}
body main .menu .menucheck input:checked + .circle i {
  transition: transform 750ms ease-in-out, color 750ms ease-in-out;
  transform: rotate(0deg);
  color: white;
}
body main .menu .menucheck .circle {
  width: 0;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
}
body main .menu .menucheck i {
  transform: rotate(360deg);
  color: transparent;
  font-size: 30px;
  padding: 3%;
}
body main .button {
  margin: 5% auto;
  width: 100%;
  display: flex;
}
body main .button button {
  margin: auto;
  width: 60%;
  height: 60px;
  font-size: 20px;
  color: white;
  border-radius: 30px;
  border-style: none;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 2px 2px 2px 2px hsla(0deg, 0%, 83%, 0.5);
}
body main .button button:hover {
  background: linear-gradient(hsl(317deg, 100%, 84%), hsl(267deg, 66%, 70%));
  box-shadow: 2px 2px 2px 2px hsl(0deg, 0%, 83%);
}
body footer {
  background-color: hsla(0deg, 0%, 0%, 0.7);
  margin-top: 50px;
  padding: 40px 4%;
}
body footer img {
  width: 40%;
}
body footer .footmenu {
  padding: 20px 0px;
  line-height: 30px;
}
body footer .footmenu a {
  font-size: 20px;
  color: white;
}
body footer .footmenu .foottxt {
  display: flex;
  justify-content: left;
  align-items: center;
}
body footer .footmenu .foottxt i {
  width: 30px;
  font-size: 20px;
  color: white;
}
body footer .footmenu .foottxt a {
  font-size: 20px;
  color: white;
}

@media only screen and (min-width: 738px) {
  body {
    min-width: 738px;
  }
  body header nav a i {
    transform: translateX(-200%);
  }
  body header nav a img {
    width: 30%;
    box-shadow: none;
  }
  body main .banniere {
    height: 400px;
  }
  body main .banniere img {
    width: 100%;
    height: 100%;
    overflow: none;
    max-width: 500%;
  }
  body main .button {
    margin: 1% auto;
  }
  body main .button button {
    width: 40%;
  }
}
@media only screen and (min-width: 1000px) {
  body {
    min-width: 738px;
  }
  body header nav a i {
    transform: translateX(-100%);
  }
}

/*# sourceMappingURL=menu.css.map */
