*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
@import "../scss_details/var.scss";
@import "../scss_details/font.scss";
@import "../scss_details/animation.scss";
@import "../scss_details/headerfooter.scss";
@import "../scss_details/accueil.scss";
@import "../scss_details/menu.scss";