
.menu_body {
    max-width: 738px;
    margin: auto;
    font-family: roboto-regular;
    main {
        .banniere_menu {
            height: 240px;
            img {
                height: 100%;
                overflow: hidden;
                max-width: 100%;
            }
            .blanc {
                background-color: white;
                height: 40px;
                position: relative;
                transform: translate(0, -35px);
                border-radius: 50px 50px 0 0;
            }
        }
        .menutitre {
            padding: 3% 4%;
            display: flex;
            justify-content: space-between;
            height: 80px;
            h1 {
                font-family: shrikhand;
                font-size: 26px;
            }
            .menutitrecheck {
                padding: 0 6% 0 0;
                input {
                    display: none;
                    &:checked+ i {
                        animation: degrade 2s forwards;
                        background-clip: border-box;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        -webkit-text-stroke: 0px black;
                    }
                }
                i {
                    background-color: white;
                    -webkit-text-stroke: 1px black;
                    background-clip: border-box;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin-right: 7%;
                    font-size: 26px;
                }    
            }
        }        
        .menu {
            padding: 5% 4%;
            h2 {
                padding-top: 5%;
                font-size: 20px;
            }
            .vert {
                margin-top: 2%;
                background-color: #99E2D0;
                height: 5px;
                width: 50px;
            }
            .menucheck {
                @for $i from 1 through 100 {
                    &:nth-child(#{$i}) {
                        animation-delay: 100ms * $i;
                    }
                }        
                animation: fadein 1s both;
                display: flex;
                margin: auto;
                height: 80px;
                margin: 5% 0 5% 0;
                padding: 0 0 0 3%;
                border-radius: 20px;
                box-shadow: 2px 2px 2px 2px hsl(0, 0%, 83%, 0.5);
                overflow: hidden;
                .menutxt {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h3 {
                        font-size: 20px;
                        font-family: roboto-bold;
                    }
                    .menudetail {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        padding: 0 6% 0 0;
                        h4 {
                            margin: auto 0;
                            font-size: 14px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        h5 {
                            margin-left: 6%;
                            font-size: 20px;
                            font-family: roboto-bold;
                        }
                    }           
                }
                input {
                    display: none;
                    &:checked+.circle{
                        width: 20%;
                        transition: transform 750ms ease-in-out, width 750ms ease-in-out;
                        transform: translateX(0);
                    }
                    &:checked+.circle i {
                        transition: transform 750ms ease-in-out, color 750ms ease-in-out;
                        transform: rotate(0deg);
                        color: white;
                    }
                }
                .circle {
                    width: 0;
                    background-color: $checkbox;
                    border-radius: 0 20px 20px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: translateX(100%);
                }
                i {
                    transform: rotate(360deg);
                    color: transparent;
                    font-size: 30px;
                    padding: 3%;
                }        
            }   
        }
        .button {
            margin: 5% auto;
            width: 100%;
            display: flex;
            button {
                margin: auto;
                width: 60%;
                height: 60px;
                font-size: 20px;
                color: white;
                border-radius: 30px;
                border-style: none;
                background: $gradient-color;
                box-shadow: 2px 2px 2px 2px hsl(0, 0%, 83%, 0.5);
                &:hover {
                    opacity: 0.8;
                    box-shadow: 2px 2px 2px 2px hsl(0, 0%, 83%, 1);
                }
            }
        }
    }
    }
@media only screen and (min-width: 738px) {
    .menu_body {
        min-width: 738px;
        main {
            .banniere_menu {
                height: 400px;
                img {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    max-width: 500%;
                }
            }
            .button {
                margin: 1% auto;
                button {
                    width: 40%;
                }
            }
        }  
    }       
}
@media only screen and (min-width: 1000px) {
    .menu_body {
        max-width: 1400px;
        padding: 0 10px 0 10px;
        main {
            max-width: 738px;
            margin: auto;
            background-color: hsl(0, 22%, 96%);
            .banniere_menu {
                .blanc {
                    background-color: hsl(0, 22%, 96%);
                }
            }
            .menu {
                .menucheck {
                    background-color: white;
                }
            }
            .button {
                padding-bottom: 5%;
            }
            }  
    }
}