@font-face {
    font-family: roboto-regular;
    src: url(../font/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(../font/Roboto-Bold.ttf);
}
@font-face {
    font-family: shrikhand;
    src: url(../font/Shrikhand-Regular.ttf);
}
